
      
     
     <%#= link_to 'Delete', [comment.service, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
 <ul class="collection">
    <li class="collection-item avatar">
    <div class="circle responsive-img"><%= cl_image_tag comment.user.image ,:size => "50x50"%></div>
         <span class="black-text">
          <strong><%= link_to(comment.user.username ,user_path(comment.user))%>:</strong>
          <%= comment.body %>
      <% if current_user == comment.user %> 
 <%= link_to t('site.global.delete'), [comment.animal, comment],method: :delete, class: "button is-danger", data: { confirm: t('site.global.are_you_sure') } %>
                <% end %>

        </span>
    </li>
 
  </ul>
