

<div class="arr row">
    <div class="col s4">
      <div class="card small">
        <div class="card-content">
           <h3> <%=  link_to 'Missing', "/all_animals/missing" %></h3>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card small">
        <div class="card-content">
           <h3> <%=  link_to 'Found', "/all_animals/found" %></h3>
        </div>
      </div>
    </div>
  </div>
 
 <div class="arr row">
    <div class="col s4">
      <div class="card small">
        <div class="card-content">
           <h3> <%=  link_to "For Adoption",  "/all_animals/for-adoption" %></h3>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card small">
        <div class="card-content">
           <h3> <%=  link_to "Animals in need",  "/all_animals/animals-in-need"%></h3>
        </div>
      </div>
    </div>
  </div>
 