

 

 <div class="row teal lighten-5">
      <div class ="row">
      <div class="col s12 center">
  
  
      <div class="col s12 ">
      <div class="arr row">
    <div class="col s6  ">
    <div class="card white" >
     <div class="card-content white-text center">
  
     <span style="font-size:7em; color: teal;">
   <i class="fas fa-paw"></i>
</span>
           <h5> <%=  link_to t('site.global.missing'), "/all_animals/missing" %></h5>
            
        </div>
      </div>
    </div>

    <div class="col s6">
    <div class="card white">
     <div class="card-content white-text center">
         
    <span style="font-size:7em; color: teal;">
   <i class="fas fa-paw"></i>
</span>
           <h5> <%=  link_to t('site.global.found'), "/all_animals/found" %></h5>
        </div>
      </div>
    </div>
  </div>
 
 <div class="arr row ">
     <div class="col s6 ">
    <div class="card white">
     <div class="card-content white-text center">
<span style="font-size:7em; color: teal;">
   <i class="fas fa-paw"></i>
</span>
           <h5> <%=  link_to t("site.global.for_adoption"),  "/all_animals/for-adoption" %></h5>
        </div>
      </div>
    </div>

     <div class="col s6 ">
    <div class="card white">
     <div class="card-content white-text center">
      <span style="font-size:7em; color: teal;">
   <i class="fas fa-paw"></i>
</span>
           <h5> <%=  link_to t("site.global.animals-in-need"),  "/all_animals/animals-in-need"%></h5>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>


    
    </div>
         

</div>
