<h1>Animals#show</h1>
<p>Find me in app/views/animals/show.html.erb</p>
 <%= @animal.title %>
 <div><%= image_tag @animal.image %></div>
 <p>Type: <%= @animal.animal_type %></p>
 <p>Gender: <%= @animal.gender %></p>

      
         